a:hover {
	text-decoration: none !important
}

body
{
	background-color: brown !important
}

.top-text {
	text-align: center;
	color: bisque;
}

.forms {
	width: 550px;
	height: 450px;
	margin: auto;
	position: relative;
	/* border: 1px solid; */

}

.top-photo {
	background-image: url("../assets/images/nfl.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 180px;
	margin: 11px;
}

#submit {
     
    width:140px; 
    margin: -10px -80px -70px; 
    position:relative;
    top:50%; 
    left:50%;
}



/* 
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative; */



































/* .jumbotop
{
background-color:aqua !important; 
font-size: 40px;
} */

/* .jumbo-middle
{
background-color:yellowgreen !important; 
background-image: url(../assets/images/nfl.jpg);
background-repeat: no-repeat;
font-size: 20px;
text-align: center;

} */





















/* 

.jumbotop {
	font-size: 80px;
	
}
.jumbodown {
	font-size: 30px;
	text-align: center;
	height: 250px;
}
.text_rows_middle {
	font-size: 20px;
	text-align: left;
}
.navbar {
	background-color: blue;
}
.text_rows_down {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 30;
	text-align: left;
}
.list-contact li {
	font-size: 18px;
	list-style: none;
	text-align: left;
}
.list-contact {
	padding-left: 7rem;
}
.mid-photo {
	background-image: url(../assets/images/ktirio.jpg);
	background-repeat: no-repeat;
	background-position: left;
	width: 400px;
	height: 380px;
	margin: 0 auto;
}
/* .mylist li
{
	position:relative;
	letter-spacing:2px;
	list-style: none;
	font-size: 20px;
	font-family:'Open Sans';
	display: inline-block;
	margin: 20px;
	text-align:center;
	top:10px;
	left:700px;
		
	
}

.navbar
{
	background-color: #8F69C7;
	
}
	
.navbar a:hover {
  
  color: black;
  border-bottom: 3px solid;
}

 */ 